# Local variables
GEMINI_API_KEY=your-api-key
GEMINI_MODEL=gemini-2.0-flash
WEB3_PROVIDER_URL=https://coston2-api.flare.network/ext/C/rpc
WEB3_EXPLORER_URL=https://coston2-explorer.flare.network/
SIMULATE_ATTESTATION=false

# For TEE deployment only
TEE_IMAGE_REFERENCE=ghcr.io/flare-foundation/flare-ai-defai:main
INSTANCE_NAME=PROJECT_NAME-TEAM_NAME